@import url('https://fonts.googleapis.com/css?family=Droid+Serif');


html{
  padding: 0px;
  margin:0px;
}


.pages{
  width:100%;
  height: 650px;
  position: relative;
}

.bg{
  background-image: white;
  background-size:100%, 100%;
}
.logo{
  width: 100%;
  height: 100px;
  position: relative;
  top: 0%;
  background-color: #3b5998;
}

h1{
  font-family: tahoma;
  font-weight: bolder;
  font-size: 35px;
  padding-left: 10%;
  position: relative;
  top: 20%;
  color: white;
}

h3 {
  font-family: 'Droid Serif';
  font-size: 28px;
  padding-right: 0px;
  color: black;
}

p{
  font-family: 'Droid Serif';
  font-size: 18px;
  color: black;
  position : center;
  margin-top: 0%;
}


h4{
  font-family: arial;
  font-size: 11px;
  color: gray;
  right: 10%;
  font-weight: normal;
}

.col{
  float =right;
  padding: 0;
  margin:0.85%;
  width: 45%;
  text-height: 20px;
}

.row{
  width: 100%;
  padding-left: 60%;
  margin: auto;
  position: relative;
  float: left;

}


/*Full-width inputs*/
input [type=text] input [type=password]{
  width: 100%;
  padding: 1px 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*Set a style for all buttons */
button {
  background-color: #3b5998;
  color: white;
  border-color: gray;
  cursor: pointer;
  position: absolute;
  top:50%;
  right:8%;
  font-size: normal;
}

/*add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/*add padding to containers */
span.psw {
  float: right;
  padding-top: 16px;
}

.emailquery{
  padding-left: 62%;
  font-family: tahoma;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 25%;
  font-weight: normal;
}

.passwordquery{
  padding-left: 75%;
  font-family: helvetica;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 25%
}

form {
  font-size: 18px;
  font-family: 'Droid Serif';
  padding-left: 0%;
}
