@import url('https://fonts.googleapis.com/css?family=Chewy');

html {
	margin: 0;
	height: 40%;
	}

	.pages{
		width: 100%;
		height: 650px;
		position: relative;
	}

	.bg{
		background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgnh_PRE9u-pLXGrG1LnDaLwrneccOwSJ5aYIkm8il0zD3ztmi');
		background-size: 100%, 100%;
	}

	#banner{
		width: 100%;
		height: 250px;
		position: relative;
		top: 25%;
		background-color: #6b708d;
		font-weight: bolder;
		font-family: 'chewy';
		opacity: 0.5;
		color: #003366;
		text-align: center;
	}

	h1{
      font-size: 60px;
      line-height: 250px;
      color: #003366;
      text-decoration: underline;
      text-align: center;
      text-shadow: 1px 2px #FFFFFF;
    }

		#nav{
        position: absolute;
        top: 68%;
        left: 30%;
        color: #FFFFFF;
        font-family: 'chewy';
				font-size:20px;
				text-align: center;
      }


		#nav a:link{
			  color: #FFFFFF;
			      }

	  #nav a:hover{
			   text-decoration: overline;
			      }

	 #nav a:visited{
			  color: #FFFFFF;
			      }

	.header{
				position: relative;
				width: 100%;
				height: 10%;
				background-color: #003366;
				font-family: 'chewy';
	 }

	 h2{
        color: #FFFFFF;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 30px;
        line-height: 200%;
			}

		p{
        width: 80%;
        margin: auto;
        font-size: 15px;
        font-family: 'verdana';
      }
    .road{
			background-color: #B9D3EE;
			background-size: 100%, 100%;
		}
